@font-face {
  font-family: "Roborto";
  src: url(assists/fonts/Roboto/Roboto-Regular.ttf);
}
body {
  background-color: #fff6de;
  font-family: "Roboto";
}

.nbar {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.nbar > .mnu {
  width: 40%;
  height: 19px;
  display: flex;
  justify-content: space-around;
}

.mn {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
}

.mn > .cntnt {
  width: 50%;
  height: 100%;
}

.mn > .cntnt > .hdng {
  width: 619px;
  height: 270px;
  position: relative;
  top: 100px;
  left: 77px;
  gap: 0px;
  font-family: Roboto;
  font-size: 72px;
  font-weight: 700;
  line-height: "90px";
  text-align: center;
  text-underline-position: from front;
  text-decoration-skip-ink: none;
  color: #ff5858;
}

.mn > .img {
  width: 50%;
  height: 100%;
}
.mnubr {
  display: flex;
  justify-content: center;
}
